* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-mario {
    height: 200px;
}

button {
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    padding: 10px 0;
    border-radius: 50px;
    background-color: #C51111;
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    color: red;
    background-color: white;
    transition: 0.5s color ease-in-out;
}

.mario-luigi {
    height: 500px;
}

body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: white;
    font-size: 20px;
    font-family: robô;
}

.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.header img {
    height: 60px;
}
.header img:hover {
    height: 70px;
    transition: 0.5s ease-in-out;
}
.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.header a:hover {
    color: #C51111;
    font-size: 25px;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    left: -300px;
    top: 30%;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 5px;
    outline-color: green;
}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid blue;
    padding: 5px;
    outline-color: green;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}

@media( max-width: 1000px){
    
    p {display: none;}

    .caixa-mae {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;

    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mario-luigi {
        width: 80vw;
        height: auto;
    }

    .header {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header img {
        display: none;
    }
    .header a {
        font-size: 20px;
    }
}